@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
a, p, h1, h2, h3, h4, h5, strong, i, li {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
}
strong {
    font-weight: 800 !important;
}

body {
    background: #202020;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
}

@keyframes sidebar-slide-in {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes sidebar-slide-out {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

header {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: calc(100vh - 140px);

    .header-image {
        width: 100vw;
        height: 1000px;
        margin-bottom: -5px;

        .logo {
            position: absolute;
            left: 15px;
            top: 15px;
            width: 100px;
            height: 100px;
            z-index: 1000;
        }

        .background-image {
            width: inherit;
            object-fit: cover;
            filter: brightness(0.6);
            height: calc(100vh - 140px);
        }
    }

    .header-content {
        width: 100vw;
        height: 140px;
        min-height: 140px;
        background-color: black;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        padding-left: 15px;
        padding-right: 15px;
        gap: 40px;

        .logo {
            width: 100px;
            height: auto;
            cursor: pointer;
        }

        .dropdown {
            display: flex;
            align-items: center;
            gap: 25px;
            i {
                color: white;
                cursor: pointer;
            }
        }

        nav {
            ul {
                display: flex;
                flex-direction: row;
                gap: 25px;
                li, a{
                    font-size: 20px;
                    color: white;
                    list-style: none;
                    text-decoration: none;
                    transition: color .4s ease-in-out, box-shadow .4s ease-in-out;

                    &:hover {
                        box-shadow: inset 150px 0 0 0 white;
                        color: black;
                    }
                }
            }
        }

        .user-container {
            position: absolute;
            right: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            background-color: white;
            border-radius: 50%;

            i {
                color: black;
                cursor: pointer;
            }
        }
    }
    .sidebar {
        display: none;
        width: 280px;
        height: 100vh;
        position: fixed;
        z-index: 1000;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        background-color: black;

        .close-sidebar {
            position: absolute;
            right: 15px;
            top: 15px;
            color: white;
            cursor: pointer;
            transition: .3s;

            &:hover {
                color: rgb(164, 61, 61);
                transition: .3s;
            }
        }

        ul {
            margin-top: 100px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            list-style: none;

            li{
                width: 100%;

                a{
                    display: block;
                    width: 100%;
                    margin-left: 15px;
                    color: white;
                    text-decoration: none;
                    transition: 0.5s;
                    box-sizing: border-box;

                    &:hover {
                        margin-left: 35px;
                        color: rgb(149, 101, 194);
                        font-size: 20px;
                        transition: 0.5s;
                    }
                }
            }
        }

        &.sidebar-slide-in {
            animation: sidebar-slide-in 0.5s;
        }
        &.sidebar-slide-out {
            animation: sidebar-slide-out 0.5s;
        }
    }
}


.homepage {
    margin-top: 160px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    color: white;
}

footer {
    height: 300px;
    width: 100vw;
    background-color: black;
}